<h1 mat-dialog-title>{{ 'accounts.entryDialog.title' | translate }}</h1>
<form *ngIf="loaded(); else loading" [formGroup]="entryForm" (ngSubmit)="submit()">
  <div mat-dialog-content class="dialog-content">
    <div class="entry-date">
      <mat-form-field floatLabel="always">
        <mat-label translate="accounts.entryDialog.fields.entryDate.title"></mat-label>
        <input
          matInput
          [matDatepicker]="entryDatePicker"
          autocomplete="off"
          formControlName="entryDate"
          [placeholder]="getEntryDate('L')"
        />
        <mat-error>{{ getEntryDateError$() | async }}</mat-error>
        <mat-datepicker-toggle matSuffix [for]="entryDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #entryDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="(extendedDate || extendedDateToggleGroup.value) === 'extended-date'" floatLabel="always">
        <mat-label translate="accounts.entryDialog.fields.bookingDate.title"></mat-label>
        <input
          matInput
          [matDatepicker]="bookingDatePicker"
          autocomplete="off"
          formControlName="bookingDate"
          [placeholder]="getEntryDate('L')"
        />
        <mat-datepicker-toggle matSuffix [for]="bookingDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #bookingDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="(extendedDate || extendedDateToggleGroup.value) === 'extended-date'" floatLabel="always">
        <mat-label translate="accounts.entryDialog.fields.bookingMonth.title"></mat-label>
        <input
          matInput
          [fmMonthpicker]="budgetPeriodPicker"
          autocomplete="off"
          formControlName="budgetPeriod"
          [placeholder]="getEntryDate('MMM YYYY')"
        />
        <mat-datepicker-toggle matSuffix [for]="budgetPeriodPicker"></mat-datepicker-toggle>
        <fm-monthpicker #budgetPeriodPicker></fm-monthpicker>
      </mat-form-field>
      <mat-button-toggle-group #extendedDateToggleGroup="matButtonToggleGroup" value="{{ extendedDate }}">
        <mat-button-toggle class="fm-narrow-toggle-button" value="extended-date">
          <mat-icon>{{
            extendedDateToggleGroup.value === 'extended-date' ? 'keyboard_arrow_left' : 'keyboard_arrow_right'
          }}</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="entry-container">
      <ng-container
        *ngIf="
          (extendedEntry || extendedEntryToggleGroup.value) === 'extended-entry';
          then multipleEntry;
          else singleEntry
        "
      ></ng-container>
      <ng-template #multipleEntry>
        <div class="entry-item-list">
          <div
            fxLayout="row"
            fxLayoutAlign="start start"
            class="mat-elevation-z2 entry-item"
            *ngFor="let entryItem of entryForm.controls.entryItems.controls; let entryItemIndex = index"
            fmFocusHighlight="fm-entry-item-highlighted"
            formArrayName="entryItems"
          >
            <fm-entry-item fxFlex [formGroup]="entryItem"></fm-entry-item>
            <button mat-icon-button class="small-button" (click)="deleteEntryItem(entryItemIndex)">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
          <div class="fm-add-entry-item-button">
            <button mat-mini-fab (click)="addEntryItem()" type="button">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex></div>
          <div
            class="mat-body-strong mat-body-2"
            *ngIf="cumulatedSum()"
            [ngClass]="(cumulatedSum() ?? 0) > 0 ? 'positive-amount' : 'negative-amount'"
          >
            {{ cumulatedSum }}
          </div>
        </div>
      </ng-template>
      <ng-template #singleEntry>
        <fm-entry-item [formGroup]="entryForm.controls.entryItems.controls[0]"></fm-entry-item>
      </ng-template>
    </div>
    <mat-button-toggle-group #extendedEntryToggleGroup="matButtonToggleGroup" value="{{ extendedEntry }}">
      <mat-button-toggle value="extended-entry" class="fm-thin-toggle-button">
        <mat-icon>{{
          extendedEntryToggleGroup.value === 'extended-entry' ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
        }}</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px">
    <div fxFlex></div>
    <button mat-stroked-button mat-dialog-close>{{ 'accounts.entryDialog.buttons.cancel.title' | translate }}</button>
    <button mat-stroked-button color="primary" type="submit" [disabled]="!(entryForm.valid && entryForm.dirty)">
      {{ 'accounts.entryDialog.buttons.save.title' | translate }}
    </button>
  </div>
</form>
<ng-template #loading> Loading stuff.... </ng-template>
