<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span translate="main.header"></span>
    <div fmSpacer></div>
    <button mat-button routerLink="/accounts" routerLinkActive="mat-raised-button">
      <mat-icon>account_balance_wallet</mat-icon>
      <span class="title" translate="main.toolbar.accounts"></span>
    </button>
    <button mat-button>
      <mat-icon>account_balance</mat-icon>
      <span class="title" translate="main.toolbar.budget"></span>
    </button>
    <button mat-button>
      <mat-icon>date_range</mat-icon>
      <span class="title" translate="main.toolbar.calendar"></span>
    </button>
    <button mat-button>
      <mat-icon>pie_chart</mat-icon>
      <span class="title" translate="main.toolbar.reports"></span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="area">
  <router-outlet></router-outlet>
</div>
<simple-notifications></simple-notifications>
