@use '@angular/material' as mat;
@use 'styles/_variables' as v;

:host {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 12px;

  > div.entry-required-data {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;

    mat-form-field.entry-item-category {
      flex: 1 1 0
    }

    mat-form-field.entry-item-amount {
      flex: 0 0 7em;

      input.mat-input-element,
      label.mat-form-field-label,
      mat-error {
        text-align: right;
      }

      input.mat-input-element {
        text-align: right;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }
}

mat-optgroup.mat-mdc-optgroup.fm-optgroup-sticky {
  span.mat-mdc-optgroup-label {
    padding: 0 8px;
    line-height: 32px;
    height: 32px;
    font-weight: 700;
    background-color: rgba($color: white, $alpha: 1);
    position: sticky;
    top: -8px;
    z-index: 1000;
  }
}

mark {
  background-color: mat.get-color-from-palette(v.$fm-app-accent, 300);
}

.entry-item-amount .mat-mdc-input-element.mat-mdc-input-element {
  text-align: right;
  opacity: 0.87;

  &.expense-category {
    color: v.$fm-expense-color;
  }

  &.income-category {
    color: v.$fm-income-color;
  }
}

.category-hint.mat-mdc-form-field-hint {
  opacity: 0.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.expense-category {
    color: v.$fm-expense-color;
  }

  &.income-category {
    color: v.$fm-income-color;
  }
}

