<div class="menu">
  <button
    mat-icon-button
    (click)="openAccountTagsPopup()"
    cdkOverlayOrigin
    #accountTagsPopupButton="cdkOverlayOrigin"
    matTooltip="{{ accountsFacade.tagsTexts$ | async }}"
    matTooltipClass="wrapped-tooltip"
    *ngLet="accountsFacade.tagsCount$ | async as tagsCount"
  >
    <mat-icon matBadge="{{ tagsCount }}" [matBadgeHidden]="tagsCount === 0">filter_list </mat-icon>
  </button>
  <div fmSpacer></div>
  <fm-router-tab class="accounts-tab-group">
    <fm-router-tab-item
      *ngFor="let account of accountsFacade.filteredAccounts$ | async"
      [routerLink]="account.id.toString()"
      routerLinkActive
      #rlaRef="routerLinkActive"
      label="{{ account.name }}"
    ></fm-router-tab-item>
  </fm-router-tab>
  <button mat-icon-button [matMenuTriggerFor]="menuRef">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menuRef="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>{{ 'accounts.table.menu.newAccount.title' | translate }}</button>
    <button mat-menu-item>{{ 'accounts.table.menu.accountProperties.title' | translate }}</button>
    <button mat-menu-item>{{ 'accounts.table.menu.deleteAccount.title' | translate }}</button>
  </mat-menu>
</div>
<div class="area">
  <router-outlet></router-outlet>
</div>
