:host {
  flex-direction: column;
  display: flex;
  flex: 1 1 auto;
}

div.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  gap: 4px;
}

.accounts-tab-group {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  min-width: 0px;
}

.transparent-backdrop {
  color: rgba($color: #000000, $alpha: 0);
}

div.area {
  flex-direction: column;
  display: flex;
  flex: 1 1 auto;
}

