<div class="menu">
  <button
    mat-icon-button
    (click)="openAccountTagsPopup()"
    cdkOverlayOrigin
    #accountTagsPopupButton="cdkOverlayOrigin"
    matTooltip="{{ accountTagsText$ | async }}"
    matTooltipClass="wrapped-tooltip"
  >
    <mat-icon matBadge="{{ accountTagsCount$ | async }}" [matBadgeHidden]="(accountTagsCount$ | async) === 0"
      >filter_list</mat-icon
    >
  </button>
  <div fmSpacer></div>
  <fm-router-tab class="accounts-tab-group">
    <fm-router-tab-item
      *ngFor="let account of accountsStore.filteredAccounts$| async"
      [routerLink]="account.id.toString()"
      routerLinkActive
      #rlaRef="routerLinkActive"
      label="{{ account.name }}"
    ></fm-router-tab-item>
  </fm-router-tab>
  <button mat-icon-button [matMenuTriggerFor]="menuRef">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menuRef="matMenu" [overlapTrigger]="false">
    <button mat-menu-item translate="accounts.table.menu.newAccount.title"></button>
    <button mat-menu-item translate="accounts.table.menu.accountProperties.title"></button>
    <button mat-menu-item translate="accounts.table.menu.deleteAccount.title"></button>
  </mat-menu>
</div>
<div class="area">
  <router-outlet></router-outlet>
</div>
