<eco-fab-speed-dial
  [fixed]="true"
  [open]="false"
  (mouseenter)="triggerSpeedDial()"
  (mouseleave)="stopSpeedDial()"
  #fabSpeedDial
>
  <eco-fab-speed-dial-trigger [className]="fabSpeedDialActions?.miniFabVisible ? 'shown' : 'hidden'">
    <button
      mat-fab
      (click)="addEntry()"
      [matTooltip]="'accounts.table.buttons.addEntry.tooltip' | translate"
      [matTooltipPosition]="'left'"
    >
      <mat-icon>add</mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>
  <eco-fab-speed-dial-actions #fabSpeedDialActions>
    <button
      mat-mini-fab
      [matTooltip]="'accounts.table.buttons.addTransfer.tooltip' | translate"
      [matTooltipPosition]="'left'"
      (click)="addTransfer()"
    >
      <mat-icon>swap_horiz</mat-icon>
    </button>
    <button
      mat-mini-fab
      [matTooltip]="'accounts.table.buttons.addRefund.tooltip' | translate"
      [matTooltipPosition]="'left'"
      (click)="addRefund()"
    >
      <mat-icon>redo</mat-icon>
    </button>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
<cdk-virtual-scroll-viewport #virtualScrollViewport>
  <div class="movements-table">
    <div
      class="movements-row movements-header"
      *ngIf="layout() as layout"
      [style.top]="inverseTranslation"
      [ngSwitch]="layout"
      [ngClass]="layout"
    >
      <div class="row-cells row-lane" *ngSwitchCase="'item-web'">
        <div class="entry-date" translate="accounts.table.columns.entryDate.name"></div>
        <div class="comments" translate="accounts.table.columns.comments.name"></div>
        <div class="category" translate="accounts.table.columns.category.name"></div>
        <div class="amount" translate="accounts.table.columns.amount.name"></div>
        <div class="balance" translate="accounts.table.columns.balance.name"></div>
      </div>
      <div class="row-cells" *ngSwitchCase="'item-mobile'">
        <div class="row-lane">
          <div class="entry-date" translate="accounts.table.columns.entryDate.name"></div>
          <div class="amount" translate="accounts.table.columns.amount.name"></div>
          <div class="balance" translate="accounts.table.columns.balance.name"></div>
        </div>
        <div class="row-lane">
          <div class="comments" translate="accounts.table.columns.comments.name"></div>
        </div>
        <div class="row-lane">
          <div class="category" translate="accounts.table.columns.category.name"></div>
        </div>
      </div>
      <div class="buttons"></div>
    </div>
    <mat-divider></mat-divider>
    <ng-container *cdkVirtualFor="let element of movementDataSource; let last = last; trackBy: trackByFn">
      <ng-container *ngIf="element.entry as entry; else loading">
        <div
          *ngIf="layout() as layout"
          [ngSwitch]="layout"
          (click)="edit(entry.movement)"
          class="movements-row movements-body"
          [ngClass]="[movementSelection() === element.pos ? 'selected' : '', layout]"
        >
          <div class="row-cells row-lane" *ngSwitchCase="'item-web'">
            <div class="entry-date">
              <span>{{ entry.movement.data?.date | date: "dd.MM.yyyy" }}</span>
            </div>
            <div class="comments mat-body-2">
              <span>{{ accountTableService.getMovementComments(entry.movement.data) }}</span>
            </div>
            <div class="category">
              <span>{{ entry.category?.fullPath }}</span>
              <span class="tooltip">{{ entry.category?.fullPath }}</span>
            </div>
            <div class="amount" [ngClass]="getSumColorClass(entry.movement.data?.amount)">
              <span>{{ entry.movement.data?.amount | number: "1.2-2" }}</span>
            </div>
            <div class="balance" [ngClass]="getSumColorClass(entry.movement.total)">
              <span>{{ entry.movement.total | number: "1.2-2" }}</span>
            </div>
          </div>
          <div class="row-cells" *ngSwitchCase="'item-mobile'">
            <div clas="row-lane">
              <div class="entry-date">
                <span>{{ entry.movement.data?.date | date: "dd.MM.yyyy" }}</span>
              </div>
              <div class="amount" [ngClass]="getSumColorClass(entry.movement.data?.amount)">
                <span>{{ entry.movement.data?.amount | number: "1.2-2" }}</span>
              </div>
              <div class="balance" [ngClass]="getSumColorClass(entry.movement.total)">
                <span>{{ entry.movement.total | number: "1.2-2" }}</span>
              </div>
            </div>
            <div class="comments mat-body-2 item-lane">
              <span>{{ accountTableService.getMovementComments(entry.movement.data) }}</span>
            </div>
            <div class="category">
              <span>{{ entry.category?.fullPath }}</span>
              <span class="tooltip">{{ entry.category?.fullPath }}</span>
            </div>
          </div>
          <div class="buttons" (click)="$event.stopPropagation()">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menuRef"
              (menuClosed)="closeMenu()"
              (menuOpened)="openMenu(entry.movement)"
              [matMenuTriggerData]="{ movement: entry.movement }"
              class="account-entry-action"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #loading>
        <div [ngSwitch]="layout()" class="loading">
          <div class="item-web item-lane" *ngSwitchCase="'item-web'">
            <div class="entry-date">&nbsp;</div>
            <div class="comments">&nbsp;</div>
            <div class="category">&nbsp;</div>
            <div class="amount">&nbsp;</div>
            <div class="balance">&nbsp;</div>
          </div>
          <div class="item-mobile" *ngSwitchCase="'item-mobile'">
            <div class="item-lane">
              <div class="entry-date">&nbsp;</div>
              <div class="amount">&nbsp;</div>
              <div class="balance">&nbsp;</div>
            </div>
            <div class="comments item-lane">&nbsp;</div>
            <div class="category item-lane">&nbsp;</div>
          </div>
          <div class="buttons"></div>
        </div>
      </ng-template>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
  </div>
</cdk-virtual-scroll-viewport>
<mat-menu #menuRef="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-movement="movement">
    <button mat-menu-item (click)="edit(movement)">{{ "accounts.table.element.menu.change.title" | translate }}</button>
    <button mat-menu-item>{{ "accounts.table.element.menu.move.title" | translate }}</button>
    <button mat-menu-item>{{ "accounts.table.element.menu.delete.title" | translate }}</button>
  </ng-template>
</mat-menu>
