<eco-fab-speed-dial
  [fixed]="true"
  [open]="false"
  (mouseenter)="triggerSpeedDial()"
  (mouseleave)="stopSpeedDial()"
  #fabSpeedDial
>
  <eco-fab-speed-dial-trigger [className]="fabSpeedDialActions?.miniFabVisible ? 'shown' : 'hidden'">
    <button
      mat-fab
      (click)="addEntry()"
      [matTooltip]="'accounts.table.buttons.addEntry.tooltip' | translate"
      [matTooltipPosition]="'left'"
    >
      <mat-icon>add</mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>
  <eco-fab-speed-dial-actions #fabSpeedDialActions>
    <button
      mat-mini-fab
      [matTooltip]="'accounts.table.buttons.addTransfer.tooltip' | translate"
      [matTooltipPosition]="'left'"
      (click)="addTransfer()"
    >
      <mat-icon>swap_horiz</mat-icon>
    </button>
    <button
      mat-mini-fab
      [matTooltip]="'accounts.table.buttons.addRefund.tooltip' | translate"
      [matTooltipPosition]="'left'"
      (click)="addRefund()"
    >
      <mat-icon>redo</mat-icon>
    </button>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
@if (layout$ | async; as layout) {
  <cdk-virtual-scroll-viewport #virtualScrollViewport>
    <div class="movements-table">
      <div class="movements-header" [style.top]="inverseTranslation">
        <div class="movements-row" [ngClass]="layout">
          @switch (layout) {
            @case ("web") {
              <div class="row-cells row-lane">
                <div class="entry-date">
                  <span translate="accounts.table.columns.entryDate.name"></span>
                </div>
                <div class="comments">
                  <span translate="accounts.table.columns.comments.name"></span>
                </div>
                <div class="category">
                  <span translate="accounts.table.columns.category.name"></span>
                </div>
                <div class="amount">
                  <span translate="accounts.table.columns.amount.name"></span>
                </div>
                <div class="balance">
                  <span translate="accounts.table.columns.balance.name"></span>
                </div>
              </div>
            }
            @case ("mobile") {
              <div class="row-cells">
                <div class="row-lane">
                  <div class="entry-date">
                    <span translate="accounts.table.columns.entryDate.name"></span>
                  </div>
                  <div class="amount">
                    <span translate="accounts.table.columns.amount.name"></span>
                  </div>
                  <div class="balance">
                    <span translate="accounts.table.columns.balance.name"></span>
                  </div>
                </div>
                <div class="row-lane">
                  <div class="category">
                    <span translate="accounts.table.columns.category.name"></span>
                  </div>
                </div>
              </div>
            }
          }
          <div class="buttons"></div>
        </div>
        <mat-divider></mat-divider>
      </div>
      <ng-container
        *cdkVirtualFor="
          let movement of movementsDataSource;
          let last = last;
          let pos = index;
          let even = even;
          trackBy: trackByFn
        "
      >
        @if (movement; as movement) {
          <div
            (click)="edit(movement.id)"
            class="movements-row movements-entry"
            [ngClass]="[movementSelection() === pos ? 'selected' : '', layout, even ? 'even' : '']"
          >
            @switch (layout) {
              @case ("web") {
                <div class="row-cells row-lane">
                  <div class="entry-date">
                    <span>{{ movement.date | date: "dd.MM.yyyy" }}</span>
                  </div>
                  <div class="comments mat-body-2">
                    <span>{{ movement.comments }}</span>
                  </div>
                  <div class="category">
                    <span>{{ movement.category }}</span>
                    <span class="tooltip">{{ movement.category }}</span>
                  </div>
                  <div class="amount" [ngClass]="movement.amountClass">
                    <span>{{ movement.amount | number: "1.2-2" }}</span>
                  </div>
                  <div class="balance" [ngClass]="movement.totalClass">
                    <span>{{ movement.total | number: "1.2-2" }}</span>
                  </div>
                </div>
              }
              @case ("mobile") {
                <div class="row-cells">
                  <div class="row-lane">
                    <div class="entry-date">
                      <span>{{ movement.date | date: "dd.MM.yyyy" }}</span>
                    </div>
                    <div class="amount" [ngClass]="movement.amountClass">
                      <span>{{ movement.amount | number: "1.2-2" }}</span>
                    </div>
                    <div class="balance" [ngClass]="movement.totalClass">
                      <span>{{ movement.total | number: "1.2-2" }}</span>
                    </div>
                  </div>
                  <div class="row-lane">
                    <div class="category">
                      <span>{{ movement.category }}</span>
                      <span class="tooltip">{{ movement.category }}</span>
                    </div>
                  </div>
                </div>
              }
            }
            <div class="buttons" (click)="$event.stopPropagation()">
              <button
                mat-icon-button
                [matMenuTriggerFor]="menuRef"
                (menuClosed)="closeMenu()"
                (menuOpened)="openMenu(movement.id)"
                [matMenuTriggerData]="{ id: movement.id }"
                class="account-entry-action"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </div>
        } @else {
          <div class="movements-row" [ngClass]="layout">
            @switch (layout) {
              @case ("web") {
                <div class="item-web row-cells row-lane loading">
                  <div class="entry-date">&nbsp;</div>
                  <div class="comments">&nbsp;</div>
                  <div class="category">&nbsp;</div>
                  <div class="amount">&nbsp;</div>
                  <div class="balance">&nbsp;</div>
                </div>
              }
              @case ("mobile") {
                <div class="mobile row-cells">
                  <div class="row-lane loading">
                    <div class="entry-date">&nbsp;</div>
                    <div class="amount">&nbsp;</div>
                    <div class="balance">&nbsp;</div>
                  </div>
                  <div class="row-lane loading">
                    <div class="category">&nbsp;</div>
                  </div>
                </div>
              }
            }
            <div class="buttons"></div>
          </div>
        }
        @if (!last) {
          <mat-divider></mat-divider>
        }
      </ng-container>
    </div>
  </cdk-virtual-scroll-viewport>
  <mat-menu #menuRef="matMenu" [overlapTrigger]="false">
    <ng-template matMenuContent let-pos="pos">
      <button mat-menu-item (click)="edit(pos)">
        {{ "accounts.table.element.menu.change.title" | translate }}
      </button>
      <button mat-menu-item>{{ "accounts.table.element.menu.move.title" | translate }}</button>
      <button mat-menu-item (click)="delete(pos)">{{ "accounts.table.element.menu.delete.title" | translate }}</button>
    </ng-template>
  </mat-menu>
}
