@use '@angular/material' as mat;
@use 'styles/_variables' as v;
@import 'styles/ghost-animation';

$even-color: mat.get-color-from-palette(v.$fm-app-accent, 50);
$background-color: mat.get-color-from-palette(v.$fm-app-accent, 100);
$tooltip-frame: mat.get-color-from-palette(v.$fm-app-accent, 100);

:host {
  position: relative;
  flex-direction: column;
  display: flex;
  flex: 1 1 auto;
}

cdk-virtual-scroll-viewport {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: scroll;
}

.movements-table {
  padding-top: 0;
  padding-bottom: 8px;

  .movements-header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(#ffffff, 1);
    font-weight: 500;
  }

  .movements-row {
    padding: 0 16px;
    display: flex;
    flex-direction: row;

    &.web {
      height: 48px;
    }

    &.mobile {
      height: 54px;
    }

    &.web button.account-entry-action {
      display: none;
    }

    &.web:hover,
    &.selected {
      border-radius: 10px;
      background-color: $background-color;

      div {
        font-weight: 500;
        cursor: pointer;
      }

      button.account-entry-action {
        display: block;
      }
    }
    &.even {
      background-color: $even-color;
    }

    .amount,
    .balance {
      &.positive-amount {
        color: v.$fm-income-color;
      }

      &.negative-amount {
        color: v.$fm-expense-color;
      }
    }

    .buttons {
      display: flex;
      flex-basis: 48px;
      align-items: center;
      justify-content: center;
    }

    .row-cells {
      justify-content: center;

      .amount,
      .balance {
        flex: 0 0 85px;
        justify-content: flex-end;
      }
    }

    .row-lane {
      display: flex;
      flex-direction: row;
      gap: 4px;

      &.loading {
        border-bottom: 4px solid white;

        div {
          background-color: $background-color;
          border-radius: 4px;
          @include animate-ghost-line;
        }
      }

      > div {
        display: flex;
        min-width: 0;
        width: 0;

        > span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:empty:before {
            content: "\200b";
          }
        }
      }
    }

    &.mobile .row-cells {
      flex-direction: column;

      .entry-date {
        flex: 1 1 0;
      }

    }

    &.web .row-cells {
      align-items: center;
    }

    .row-cells {
      display: flex;
      flex: 1 1 auto;

      .entry-date {
        flex: 0 0 11ch;
      }

      .comments {
        flex: 3 1 0;
        justify-content: flex-start;
      }

      .category {
        flex: 5 1 0;
        justify-content: flex-start;

        > span {

          &.tooltip {
            opacity: 0;
            margin: -4px;
            padding: 3px;
            position: absolute;
            overflow: visible;
            border: black solid 1px;
            border-radius: 4px;

            &:hover {
              opacity: 0.85;
              background-color: $background-color;
              transition: opacity 0s 250ms;
            }
          }
        }
      }
    }
  }
}

eco-fab-speed-dial {
  position: absolute;
  right: 12px;
  bottom: 12px;

  &.hidden.hidden:hover {
    opacity: 0.45;
  }
}
